<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>타임어택 220506</title>
    <link rel="stylesheet" href="../static/kim hyun_time attack_220506.css" />
  </head>
  <body>
    <div class="timeattack_main_page">
      <div class="timeattack_login">
        <input type="text" placeholder="아이디를 입력하세요." class="textbox_id">
        <input type="text" placeholder="비밀번호를 입력하세요." class="textbox_pass"></input>        
        <br>
        <button class="joiner_button">회원가입</button>
        <br>
        <button class="login_button">로그인</button>
    </div>
      </div>
    </div>
  </body>
</html>
